/* Universal Selector */

* {
    background-color: rgb(76, 172, 117);
    cursor: url(../images/cursor.png), grabbing;


/* Attribute Selector */
    
[src] {
     display: block;
    margin: 0 auto;
    border-radius: 42%;  
}

/* Element Selector */

h1,
h2 {
    text-align: center;
}

ul li {
    font-size: 24px;
    color: rgb(20, 97, 141);
    list-style: upper-roman inside;
    text-align: center;
}

